<!DOCTYPE html>
<html lang="{{ settings.local }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/svg+xml" href="{{ asset('images/favicon/' ~ settings.favicon )}}" />
        <title>{{ pageName }} • {{ settings.name }}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags(settings.theme) }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags(settings.theme) }}

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
